* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.App a:link, a:visited {
  color: #404040;
  text-decoration: none;
}

.App a:hover, a:active {
  text-decoration: underline #404040;
}

.App .header {
  display: grid;
  grid-template-columns: 75%;
  justify-content: center;
}

.App .header img {
  justify-self: center;
  height: 10rem;
  width: auto;
  /* Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.App .header nav {
  height: 10rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly; 
  align-items: center;
}

.App .header nav .nav-btn {
  background-color: transparent;
  /* border: 0.1rem solid transparent; */
  border-radius: 0.5rem;
  height: 5rem;
  width: 17rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  /* Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.App .header nav .nav-btn:hover {
  /* border: 0.1rem solid darkorange; */
  color: darkorange;
  cursor: pointer;
}