* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

.App a:link, a:visited {
  color: #404040;
  text-decoration: none;
}

.App a:hover, a:active {
  text-decoration: underline #404040;
}

.App .header {
  display: grid;
  grid-template-columns: 75%;
  justify-content: center;
}

.App .header img {
  justify-self: center;
  height: 10rem;
  width: auto;
  /* Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.App .header nav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  height: 10rem;
  justify-content: space-evenly; 
}

.App .header nav .nav-btn {
  background-color: transparent;
  /* border: 0.1rem solid transparent; */
  border-radius: 0.5rem;
  font-size: 1.4rem;
  height: 5rem;
  padding: 0.5rem;
  width: 17rem;
  /* Source: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}

.App .header nav .nav-btn:hover {
  /* border: 0.1rem solid darkorange; */
  color: darkorange;
  cursor: pointer;
}

.App .about h1, .App .recipes h1 {
  color: darkorange;
  font-size: 2.0rem;
}

.App .about .about-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.App .about .about-content img {
  border: 3px solid darkorange;
  border-radius: 50%;
  height: 30rem;
  margin: 0 2rem;
  width: auto;
}

.App .about .about-content .text-content {
  font-size: 1.2rem;
  margin: 0 2rem;
  max-width: 50rem;
  text-align: left;
  text-indent: 2rem;
}

.App .recipes .recipes-list .recipes-gallery {
  display: grid;
  grid-row-gap: 1rem;
  grid-template-columns: 33% 33% 33%;  
  justify-items: center;
}

.App .recipes .recipes-list .recipes-gallery img {
  height: auto;
  width: 200px;
  /* margin: 1rem auto; */
}

.App .recipes .recipes-list .recipes-gallery img:hover {
  cursor: pointer;
}

.App .recipes .recipe {
  margin: 0 3rem;
}

.App .recipes .recipe h1 {
  font-size: 1.4rem;
}

.App .recipes .recipe img {
  height: 400px;
  width: auto;
}

.App .recipes .recipe p {
  font-size: 1.2rem;
  text-align: left;
  text-indent: 2rem;
}